/* ------------------about card style----------------------- */
.about-cards {
  display: flex;
  padding: 2rem;
  gap: 1.5rem;
}
.about-card-content > h1 {
  margin-bottom: 20px;
}

.about-card-content {
  width: 100%;
}

.about-card-content > h1 {
  font-size: 18px;
  margin-bottom: 16px;
  color: white;
}
.about-card-content > p {
  font-size: 15px;
  color: #d6d6d6;
}
