
/* main container */
.aside-container{
    border:1px solid black;
    padding:20px 30px 30px;
    /* width:fit-content; */
    border-radius: 1rem;
    height:600px;
    position:sticky;
    top:30px;
    z-index: 1;
    width:250px;
    background:linear-gradient(rgb(33,131,157),rgb(33,123,150)) ;
    color:white;
}


/* profile image  and name section*/
.aside-name-image{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    gap:20px;
}
.aside-name-image>img{
    width:150px;
    height:150px;
    border-radius: 2rem;
    object-fit: cover;
}
.aside-name-image>h2{
    font-size: 1.1rem;
}

/* aside-line */
.aside-line{
    width:100%;
    border: 0.7px solid black;
    margin:1.5rem 0;
}

/* icons */
.aside-icons{
    display: flex;
    gap:20px;
    margin:20px 0;
}

/* aside content */
.aside-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* aside button */
.aside-button{
    background-color: rgb(33,89,104);
    color:white;
    height:10px;
    width:180px;
    padding:16px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 1rem;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
      box-shadow: 0 0 2px white; 
    }
    to {
      box-shadow: 0 0 20px white;
    }
  }

  /* aside content */
  .about-aside-card-content>h4{
    font-size: 12px;
    color:#a0bbc3;
    font-weight: 300;
  }
  .about-aside-card-content>p{
    font-size: 14px;
  }

  .aside-personal-details{
    display:flex;
    flex-direction: column;
    gap:2rem;
  }


  /* icons */
  .aside-icons{
    margin-top: 2rem;
  }
  .aside-icons>a{
    color:rgb(160,187,195);
  }




